.loading .message {
  /* margin: 10px 0 0 -250px; */
  font-size: 18px;
  opacity: 0;
  left:0px;
  top:320px;
  position: absolute;
  width: 100%;
  animation: fadeInOut 30s linear infinite;
}

#message1 { animation-delay: 0s; }
#message2 { animation-delay: 3s; }
#message3 { animation-delay: 6s; }
#message4 { animation-delay: 9s; }
#message5 { animation-delay: 12s; }
#message6 { animation-delay: 15s; }
#message7 { animation-delay: 18s; }
#message8 { animation-delay: 21s; }
#message9 { animation-delay: 24s; }
#message10 { animation-delay: 27s; }
#message11 { animation-delay: 30s; }


.loading span {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 84px;
  margin-top: 230px;
  overflow: hidden;
}

.loading span > i {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: wait 2s infinite;
}

.loading span > i:nth-of-type(1) {
  left: -28px;
  background: #9833C3;
}

.loading span > i:nth-of-type(2) {
  left: -21px;
  animation-delay: 0.8s;
  background: lightgreen;
}

@keyframes fadeInOut {
  0%, 5% { opacity: 0; }
  5%, 15% { opacity: 1; }
  15%, 100% { opacity: 0; }
}

@keyframes wait {
  0%   { left: -7px; }
  30%  { left: 52px; }
  60%  { left: 22px; }
  100% { left: 100px; }
}

/* .subs::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.subs::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.526);
  border-radius: 4px;

}

.subs::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.126);
  border-radius: 4px;
}
.subs::-webkit-scrollbar-button {
} */

.subs::-webkit-scrollbar {
  width: 10px;
  /* height: 10px; */
}

/* Track */
.subs::-webkit-scrollbar-track {
  box-shadow:  0 0 1px rgb(104, 103, 103); 
  border-radius: 10px;
}
 
/* Handle */
.subs::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
.subs::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.605); 
}